@using HYPEDanceStudio.Application.Assignment.Commands.CreateAssignment;
@model IEnumerable<HYPEDanceStudio.Application.Assignment.AssignmentDto>

<p>
    <a asp-action="CreateAssignment">Create new</a>
</p>


<div class="row row-cols-3 g-4">
    
       
  
    @foreach (var item in Model)
    {
        <div class="col">
        <div class="card">
            <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text"><i class="bi bi-exclamation-square-fill"></i> @item.Status</p>
                   
                    <p class="card-text"> <i class="bi bi-person"></i>@item.Email</p>
            </div>
            @if(item.Status!="Done")
                {
                <a class="btn btn-outline-info" asp-controller="Assignment" asp-action="Done" asp-route-id="@item.Id">Click to complete!</a>
                }
                <a class="btn btn-outline-info" asp-controller="Assignment" asp-action="Delete" asp-route-id="@item.Id">Delete!</a>

      </div>
        </div>
  
    }
 
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}